.services {
	display: flex;
	padding: 5rem 0;
	min-height: 100vh;
	position: relative;
	&__left {
		position: relative;
		flex: 1;
	}
	&__right {
		flex: 1;
		display: flex;
		flex-direction: column;
		& > :nth-child(1) {
			font-size: 3rem;
			color: var(--black);
		}
		& > :nth-child(2) {
			font-size: 3rem;
			color: rgb(255, 162, 0);
			margin-bottom: 1rem;
		}
		& > :nth-child(3) {
			font-weight: 100;
			color: var(--gray);
			font-size: 0.8rem;
		}
		.btn {
			background-color: white;
			margin-top: 3rem;
			align-self: flex-start;
			cursor: pointer;
			padding: 0.6rem 2rem;
			border-radius: 1rem;
			border: none;
			background-image: linear-gradient(to left, var(--yellow), var(--orange));
			color: white;
			box-shadow: 0 20px 24px 3px rgba(252, 166, 31, 0.45);
			transition: all 0.4s ease;
			&:hover {
				transform: translate(0, -10px);
			}
		}
	}
}

.blur1 {
	top: 0;
	left: 50%;
}
.blur2 {
	bottom: 0;
	left: 20%;
}
