.floating-badge {
	display: flex;
	align-items: center;
	gap: 1rem;
	background: white;
	border-radius: 1rem;
	font-size: 0.5rem;
	padding: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	word-break: keep-all;
	img {
		width: 2rem;
		height: 2rem;
	}
}
