:root {
	--yellow: #f5c32c;
	--orange: #fca61f;
	--black: #242d49;
	--gray: #788097;
	--blueCard: #ddf8fe;
	--purple: rgb(238 210 255);
	--boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
	--orangeCard: rgba(252, 166, 31, 0.45);
	--smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

@font-face {
	font-family: Gumela;
	src: url("./fonts/Gumela\ Regular.otf");
}

* {
	font-family: "Gumela";
	font-weight: normal;
	font-size: 20px;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
input,
textarea,
select,
button {
	outline: none;
}
input {
	line-height: normal;
}
label,
button {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	display: inline-block;
	max-width: 100%;
}

ul {
	list-style: none;
}

section[id] {
	scroll-margin-top: 3rem;
}
